.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 300;
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #43b45e;
  z-index: -1;
  transform: translateX(-200%);
  transition: transform 0.3s ease;
}

.animated-button:hover::before {
  transform: translateX(0);
}

.animated-button:hover {
  color: #ffffff;
}
